h1{
  font-size:6em;
  line-height:0.8em;
  margin-top:0;
  margin-bottom:0;
}

h2{
    color:aqua;
}

body{
  color:#fff;
  background-color:white;
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
}



h1,h2,h3,p{
  font-family:monospace,Helvetica,sans-serif;
}

p{
  font-family:Georgia,serif;
}

hr{
  border:solid 1px #ddd;
}


#outerGroup{
  width:520px;
  margin:0 auto;
}



#outerGroup{
    padding:16px;
    color:#fff;
    background-color:rgb(101, 107, 102);
}

table th{
  padding: 10px;
}
table td{
  padding :3px 10px;
}

.margin {
  margin : 3px ;
  padding : 10px ;
}

#reference{
  text-align: center;
}

.setsumei{
  font-size: 1.75em;
}

@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* 背景用*/
body {
  padding: 30px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-wrap--perspective {
  display: inline-block;

  -webkit-perspective: 800px;
  perspective: 800px;
  display: flex;
  flex-direction: column;
}

a.btn-3d {
  display: block;

  -webkit-transform: rotateX(35deg);

  transform: rotateX(35deg);

  color: #fff;
  border-radius: 0.25rem 0.25rem 0 0;
  background: #5cbcf6;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

a.btn-3d:after {
  position: absolute;
  z-index: -1;

  content: "";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

a.btn-3db:after {
  top: calc(100% - 1px);
  left: 0;

  width: 100%;
  height: 40%;

  -webkit-transform: rotateX(-90deg);

  transform: rotateX(-90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;

  border-radius: 0 0 4px 4px;
  background: #53a6d7;
}

a.btn-3db:hover {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);

  color: #fff;
  border-radius: 0.25rem;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}










.picture{
    width:20vw;
    color:red;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.mgr-20{
    margin-right: 20px;
}





/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

