{% load static %}
<!doctype html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>Nカロリーガチャ</title>
      <link rel="stylesheet" type="text/css" href="{% static 'roson/css/style_gacha.css' %}"/>
   </head>

   <body>
      <h3><a href='/roson'>ホーム</a></h3>
      <h1 style="text-align: center; font-size: x-large">ローソンNカロリーガチャ</h1>
      <p style="text-align: center; font-size: large"><b><a href = price>値段ガチャはこっち</a></b></p>
      <p style="text-align: center">200～1000のカロリーを入れてね(´・ω・`)</p>

      <form action="{% url 'caloriegacha' %}" method="post" style="text-align: center;">
         {% csrf_token %}
         {{ form }}
         kcal
         <input type="submit" value="ガチャを回す">
      </form><br>

      <table border="1" align="center">
         <tr>
            <th>メニュー</th>
            <th>商品名</th>
            <th>値段</th>
            <th>カロリー</th>
         </tr>

      {% for item in data %}
         <tr>
            <th><img src={{item.picture}}></th>
            <th><a href="{{item.name}}" target="_blank">{{item.name}}</a></th>
            <th>{{item.price}}円</th>
            <th>{{item.calorie}}kcal</th>
         </tr>
      {% endfor %}
         <tr>
            <th></th>
            <th>合計</th>
            <th>{{total_price}}円</th>
            <th>{{total_calorie}}kcal</th>
         </tr>
      </table>

      <div id="result" class="waku" style="background-color: #FFE7BF "></div>
      <p style="text-align: center">
      <a class="share-7" id="getResult" >
      <i class="fab fa-twitter"></i>
      </p>
      </a>
      <br><br>
      <p style="text-align: center; font-size: small">respect for <a href="https://saizeriya-1000yen.herokuapp.com" target="_blank">サイゼリア1000円ガチャ</a></p>
   </body>
</html>
